.bg {
  position: relative;
  background-image: url("images/bgr_login2.png");
  background-size: cover;
  /* min-height: 750px; */
  background-attachment: fixed;
  /* background-size: cover; */
  /* margin-top: -75px; */
}