.conwidth{
	width:95%;
	margin:auto;
}
.conwidth2{
	width:83%;
	margin:auto;
}
.conslide{
	width:100%;
	margin:auto;
}

.det{
	width:80%;
	margin:auto;
}
.conwidth3{
	width:95%;
	margin:auto;
}
.size{
	height:200px;
	width:100px;
}